@import "tailwindcss";
@import "@heroui/styles";

.theme-muted {
  --accent: oklch(0.4649 0.0821 235.87);
}

html {
  font-size: 16px;
}

#root {
  margin: 0 auto 50px auto;
}

mark.current-match {
  background-color: orange;
}

.bg-primary {
  background-color: var(--accent);
}
