@import "tailwindcss";
@import "@heroui/styles";

.theme-muted {
  --accent: oklch(0.4649 0.0821 235.87);
  --color-accent: oklch(0.4649 0.0821 235.87);
  --color-accent-hover: oklch(0.4649 0.0821 235.87);
  --color-accent-soft-foreground: oklch(0.4649 0.0821 235.87);
}

.theme-rosewood {
  --accent: oklch(0.5294 0.172 12.77);
  --color-accent: oklch(0.5294 0.172 12.77);
  --color-accent-hover: oklch(0.5294 0.172 12.77);
  --color-accent-soft-foreground: oklch(0.5294 0.172 12.77);
}

.theme-toffee {
  --accent: oklch(0.5549 0.0918 49.57);
  --color-accent: oklch(0.5549 0.0918 49.57);
  --color-accent-hover: oklch(0.5549 0.0918 49.57);
  --color-accent-soft-foreground: oklch(0.5549 0.0918 49.57);
}

.theme-tropical {
  --accent: oklch(0.6391 0.0648 185.11);
  --color-accent: oklch(0.6391 0.0648 185.11);
  --color-accent-hover: oklch(0.6391 0.0648 185.11);
  --color-accent-soft-foreground: oklch(0.6391 0.0648 185.11);
}

html {
  font-size: 16px;
}

#root {
  margin: 0 auto 50px auto;
}

mark.current-match {
  background-color: orange;
}

.bg-primary {
  background-color: var(--accent);
}
