@import "tailwindcss";
@import "@heroui/styles";

html {
  font-size: 16px;
}

#root {
  margin: 0 auto 50px auto;
}

mark.current-match {
  background-color: orange;
}

.bg-primary {
  background-color: var(--accent);
}
